.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 50px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

.avatar{
  width: 150px;
  border-radius: 50%;
}

.popular-rank {
  font-size: 20px;
  margin: 10px;
}

.languages {
  display: flex;
  justify-content: center;
}

li {
  list-style-type: none;
}

.languages li {
  margin: 10px;
  font-weight: bold;
  cursor: pointer;
}

/* ul de popular */
.popular-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
/* li de popular */
.popular-item {
  margin: 20px;
  text-align: center;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
